<div>
    <h2>Ajouter un candidat</h2>
    <form (ngSubmit)="ajoutercandidat()">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="candidat.email" name="email" required>
      </div>
      <div class="form-group">
        <label for="niveau">Niveau:</label>
        <select class="form-control" id="niveau" [(ngModel)]="candidat.niveau" name="niveau" required>
          <option value="Senior">Senior</option>
          <option value="Jenior">Jenior</option>
       
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Ajouter Candidat</button>
    </form>
  </div>
  
